In [6]:
num = int(input("숫자를 입력하세요: "))
if num % 2 == 0:
  print("짝수입니다")
else:
  print("홀수입니다")

숫자를 입력하세요: 5
홀수입니다

In [5]:
print(10 % 3)
print(7 % 2)
print(15 % 5)

1
1
0

In [14]:
x = 10
y = 5
z = 15

print(x > y and x < z) # True
print(x < y or x > z)  # False
print(not (x == 10)) # False

True
False
False

In [8]:
age = int(input("나이를 입력하세요: "))
fee = 5000 # 기본 입장료
# 만약 8세 미만이거나 65세 이상이라면
if age < 8 or age >= 65:
  fee = 0 # 무료
# 위의 조건이 아니고, 만약 8세 이상 14세 미만이라면
elif age >= 8 and age < 14:
  fee = fee * 0.5 # 50% 할인
# 위의 조건들이 아니고, 만약 14세 이상 19세 미만이라면
elif age >= 14 and age < 19:
  fee = fee * 0.75 # 25% 할인
# 위의 모든 조건에 해당하지 않는다면 (19세 이상 65세 미만)
else:
  fee = fee # 정상 요금
print("입장료는", int(fee), "원입니다.")

나이를 입력하세요: 25
입장료는 5000 원입니다.

In [20]:
scores= int(input("성적을 입력하세요: "))

if scores <= 100 and scores >= 90:
  print("A")
elif scores <90 and scores>=70 :
  print("B")
elif scores <70 and scores >= 60:
  print( " C")
elif scores <60 and scores >= 0:
  print("D")
else:
  print("잘못된 점수입니다")

성적을 입력하세요: 66
 C

In [21]:
scores= int(input("성적을 입력하세요: "))

if scores>=0 and scores <= 100:
    if scores >= 90:
        print("A")
    elif  scores>=70 :
         print("B")
    elif  scores >= 60:
        print( " C")
    else:
        print("D")
else:
  print("잘못된 점수입니다")

성적을 입력하세요: 55
D

In [22]:
sum = 0 # 합계를 저장할 변수를 0으로 초기화
# 1부터 5까지의 숫자를 a에 차례로 대입하며 반복
for a in range(1, 6):
  sum = sum + a # 기존 sum 값에 현재 a 값을 더해서 다시 저장
print("1부터 5까지의 합은", sum, "입니다.")

1부터 5까지의 합은 15 입니다.

In [24]:
sum=0
for a in range(1,101):
  sum=sum+a
print("1부터 100까지의 합은", sum, "입니다.")

1부터 100까지의 합은 5060 입니다.

In [25]:
sum=0
for a in range(1,101,2):
  sum=sum+a
print("1부터 100까지의 합은", sum, "입니다.")

1부터 100까지의 합은 2500 입니다.

In [27]:
sum=0
for a in range(2,101,2):
  sum=sum+a
print("1부터 100까지의 합은", sum, "입니다.")

1부터 100까지의 합은 2550 입니다.

In [28]:
sum=0   #홀수합산
sum1=0   #짝수합산
for a in range(1,101):
  if a %2==0:
    sum1=sum1+a
  else:
    sum=sum+a
print("1부터 100까지의 짝수 합은", sum1, "입니다.")
print("1부터 100까지의 홀수 합은", sum, "입니다.")

1부터 100까지의 짝수 합은 2550 입니다.
1부터 100까지의 홀수 합은 2500 입니다.

In [29]:
odd_sum=0   #홀수합산
even_sum=0   #짝수합산
for a in range(1,101):
  if a %2==0:
    even_sum=even_sum+a
  else:
    odd_sum=odd_sum+a
print("1부터 100까지의 짝수 합은", even_sum, "입니다.")
print("1부터 100까지의 홀수 합은", odd_sum, "입니다.")

1부터 100까지의 짝수 합은 2550 입니다.
1부터 100까지의 홀수 합은 2500 입니다.

In [30]:
sum=0
for a in range(1,101,2):
    sum=sum+a
print("1부터 100까지의 홀수 합은", sum, "입니다.")

sum=0
for a in range(0,101,2):
   sum=sum+a
print("1부터 100까지의 짝수 합은", sum1, "입니다.")

1부터 100까지의 홀수 합은 2500 입니다.
1부터 100까지의 짝수 합은 2550 입니다.

In [31]:
sum=0
money=100
day=1

while sum<50000:
  sum=sum+money
  money=money+100
  day=day+1
print("총",day,"일이 걸립니다")

총 33 일이 걸립니다

In [ ]:
num = int(input("숫자를 입력하세요: "))

In [34]:
total = 0

while True:
    num = int(input("숫자를 입력하세요 : "))
    if num == 0:
        break
    total += num

print("입력한 숫자의 총합은:", total)

숫자를 입력하세요 : 10
숫자를 입력하세요 : 30
숫자를 입력하세요 : 1575
숫자를 입력하세요 : 4252
숫자를 입력하세요 : 12465
숫자를 입력하세요 : 542
숫자를 입력하세요 : 2412
숫자를 입력하세요 : 12452
숫자를 입력하세요 : 0
입력한 숫자의 총합은: 33738

In [36]:
num = int(input("숫자를 입력하세요: "))
total = 0

while num != 0:
    total += num
    num = int(input("숫자를 입력하세요 : "))

print("입력한 숫자의 총합은:", total)

숫자를 입력하세요: 3423
숫자를 입력하세요 : 43543
숫자를 입력하세요 : 654
숫자를 입력하세요 : 35543
숫자를 입력하세요 : 353
숫자를 입력하세요 : 76
숫자를 입력하세요 : 768
숫자를 입력하세요 : 0
입력한 숫자의 총합은: 84360

In [ ]:
332