<a href="https://colab.research.google.com/github/wuchenlu555/aipython/blob/main/251017.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
def bmi(height_cm, weight):
    height_m = height_cm / 100
    bmi = weight / (height_m ** 2)
    return round(bmi, 2)
height=float(input("키 값을 입력해주세요"))
weight=float(input("몸무게 값을 입력해주세요"))
result=bmi(height,weight)
print(result)

키 값을 입력해주세요164
몸무게 값을 입력해주세요46.78
17.39

In [14]:
def bmi_fun(h_cm,w):
  h_m=h_cm/100
  bmi=w/(h_m**2)
  return round(bmi,2)
h=float(input("키 값을 입력해주세요"))
w=float(input("몸무게 값을 입력해주세요"))
response=bmi_fun(h,w)
print(response)

키 값을 입력해주세요135
몸무게 값을 입력해주세요43.01
23.6

In [15]:
# 실습 1-1: 이메일 주소 분리하기
email="user@example.com"
username,domain=email.split("@")
print(f"사용자명:{username},도메인:{domain}")

사용자명:user,도메인:example.com

In [18]:
# 실습 1-2: CSV 형식 데이터 처리
csv_data = "김철수,30,서울,개발자"
data_list = []
data_list=csv_data.split(",")
print(f"분리된 데이터: {data_list}")

분리된 데이터: ['김철수', '30', '서울', '개발자']

In [19]:
# 실습 1-3: 경로 조합하기
folders = ["home", "user", "documents", "project"]
path = "/".join(folders)
print(f"경로: {path}")

경로: home/user/documents/project

In [20]:
# 실습 1-4: 단어를 문장으로 만들기
words = ["Python", "is", "awesome"]
sentence = " ".join(words)
print(f"문장: {sentence}")

문장: Python is awesome

In [21]:
number_list = [ x**2 for x in range(10) if x % 2 == 0]
print(number_list)

[0, 4, 16, 36, 64]

In [24]:
# 실습 2-1: 1~20까지 숫자 중 3의 배수만
multiples_of_3=[x**3 for x in range(1,21) if x%3==0]
print(f"3의 배수: {multiples_of_3}")

3의 배수: [27, 216, 729, 1728, 3375, 5832]

In [25]:
# 실습 2-2: 문자열 리스트를 대문자로 변환
fruits = ["apple", "banana", "cherry"]
upper_fruits=[fruit.upper() for fruit in fruits]
print(f"대문자 과일: {upper_fruits}")

대문자 과일: ['APPLE', 'BANANA', 'CHERRY']

In [26]:
# 실습 2-3: 단어 길이 리스트 만들기
words = ["Python", "is", "powerful"]
word_lengths = [len(word) for word in words]
print(f"단어 길이: {word_lengths}")

단어 길이: [6, 2, 8]

In [27]:
# 실습 2-4: 조건부 변환 (짝수는 제곱, 홀수는 그대로)
numbers = [1, 2, 3, 4, 5, 6]
processed = [x**2 if x % 2 == 0 else x for x in numbers]
print(f"처리된 숫자: {processed}")

처리된 숫자: [1, 4, 3, 16, 5, 36]

In [29]:
scores = [95, 87, 92, 88]
print("성적 순위:")
for rank, score in enumerate(scores, start=1):
  print(f" {rank}등: {score}점")

성적 순위:
 1등: 95점
 2등: 87점
 3등: 92점
 4등: 88점

In [32]:
# 실습 3-1: enumerate로 순위 매기기
scores = [95, 87, 92, 88]
sorted_scores = sorted(scores, reverse=True)
print("성적 순위:")
for rank, score in enumerate(sorted_scores, start=1):
  print(f" {rank}등: {score}점")

성적 순위:
 1등: 95점
 2등: 92점
 3등: 88점
 4등: 87점

In [30]:
# 실습 3-2: zip으로 학생 정보 결합
students = ["철수", "영희", "민수"]
scores = [85, 92, 78]
grades = ["B", "A", "C"]
print("\n학생 성적표:")
for name, score, grade in zip(students, scores, grades):
  print(f" {name}: {score}점 ({grade}학점)")

학생 성적표:
 철수: 85점 (B학점)
 영희: 92점 (A학점)
 민수: 78점 (C학점)

In [31]:
# 실습 3-3: 딕셔너리 생성 (zip 활용)
keys = ["name", "age", "city"]
values = ["홍길동", 25, "부산"]
person_dict = dict(zip(keys, values))
print(f"\n딕셔너리: {person_dict}")

딕셔너리: {'name': '홍길동', 'age': 25, 'city': '부산'}

In [33]:
numbers = [1, 2, 3, 4]
# lambda x: x*2 라는 익명 함수를 numbers의 모든 항목에 적용
doubled = list(map(lambda x: x*2, numbers))
print(doubled)

[2, 4, 6, 8]

In [34]:
# 실습 4-1: 섭씨를 화씨로 변환
celsius = [0, 10, 20, 30, 40]
fahrenheit = list(map(lambda c: c * 9/5 + 32, celsius))
print(f"섭씨: {celsius}")
print(f"화씨: {fahrenheit}")

섭씨: [0, 10, 20, 30, 40]
화씨: [32.0, 50.0, 68.0, 86.0, 104.0]

In [35]:
# 실습 5-1: 양수만 필터링
numbers = [-5, 3, -1, 8, 0, -3, 7]
positive = list(filter(lambda x: x > 0, numbers))
print(f"전체 숫자: {numbers}")
print(f"양수만: {positive}")

전체 숫자: [-5, 3, -1, 8, 0, -3, 7]
양수만: [3, 8, 7]

In [ ]:
#• split & join: 문자열과 리스트를 자유롭게 변환합니다.
#• list comprehension: 단 한 줄로 명료하게 리스트를 생성합니다.
#• enumerate & zip: 데이터에 순서를 부여하거나 여러 데이터를 짝지어 처리합니다.
#• lambda & map: 간단한 함수를 즉석에서 만들어 모든 데이터에 일괄 적용합니다.
#• filter: 특정 조건에 맞는 데이터만 깔끔하게 걸러냅니다